.nav-bar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 35px 30px;
  background-color: #f5f5f5;
  color: #fff;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
}

.logo img {
  width: 180px;
  height: 25px;
}